<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Startsida</title>
</head>
<body>
    <h1>Hello Korv</h1>
    <h2>Korv med bröd</h2>
    <h1><%= Time.now %></h1>
    <a href="/fruits">Frukter</a>
</body>
</html>